
/* change backbgrounds*/
.cover{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    grid-row-start: 1;
    grid-column: 1/3;
    background-size: cover;
    background-image: url("cover.jpg"); /* change */
}
#album_img{
    background-image: url("../../img/gkmc.jpg"); /* change */
    position: relative;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 5%;
    background-color: white;
    left: 9%;
}
/* change backbgrounds*/

.tracklist{
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 10px;
    position: absolute;
    left: 13%;
    top: 17%;
    background-color: black;
    height: 610px;
    width: 783px;
    color: wheat;
    border:#ffa60170 5px solid;
}




*{
    font-family: "Montserrat", sans-serif;

    box-sizing: border-box;
}
body{
    background-image: url("../bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container{
    position: absolute;
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    height: 1500px;
    grid-template-rows: 300px 1000px 150px;
    grid-template-columns: 1fr 1fr;
}




.songs{
    margin-bottom: 40px;
}
#s1{
    grid-row: 1/2;
}
#s2{
    grid-row: 2/3;
}

#title {
    color:#ffa701;
    position: absolute;
    top: 25%;
    left: 21%;

}

#title2 {
    color:#ffa701;
    position: absolute;
    top: 25%;
    left: 69%;

}
.about{
    grid-row-start: 2;
    grid-column: 2/3;
    position: absolute;
    margin: auto;
    left: 13%;
    top: 14%;
    background-color: black;
    height: 610px;
    width: 783px;
    color: wheat;
    border:#ffa60170 5px solid;
    }


#about_title{
    position: relative;
    left: 40%;
    bottom: 30%;
    width: fit-content;
}
#about_title h1{
    text-decoration: underline;
    width: fit-content;
}
#about_title h3{
    width: fit-content;
}
#about_title h5{
color:rgba(245, 222, 179, 0.39);
width: fit-content;

}
.txt{
    width: auto;
    text-align: left;
    text-align: justify;
    position: relative;
    margin: auto;

}
.txt p{
    margin: auto;
color: white;
max-width: 650px;
}

.footer{
    padding-top: 30px;
    color: black;
    text-align: center;
    grid-column: 1/3;
    grid-row: 3;
    background-color: rgb(141, 94, 7);
}
.footer a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight:600;
}
.footer a:hover{
    font-weight:900;

}
/*that is link for go in  arstiste
*/
a
{
   text-decoration: none;
   color:wheat ;
   outline: none;
}